<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/pintuer/pintuer.css">

</head>
<body>
<div id="page1">
    <include file="Public/page/index_header.html"/>
</div>

<div class="container">
    <div class="keypoint bg radius text-center">
        <h1>
            Hello，World!</h1>
        <p>
             本网站相关资源内容由python爬虫获取，如有问题请<a href="tencent://message/?uin=2557033248&Site=www.xxxxxxx.com.cn&Menu=yes" class="text-sub">联系作者</a></p>
        <p>
            <a class="button bg-main" href="http://blog.csdn.net/nima1994">
                CSDN博客</a>
        </p>
    </div>

    <div class="">
        <div class="banner" data-interval="10" data-style="border-red">
            <ul class="carousel ">
                <div class="item text-center">
                    <img src="__PUBLIC__/img/004.jpg" style="max-height: 400px;width: 100%">
                </div>
                <div class="item text-center">
                    <img src="__PUBLIC__/img/005.jpg" style="max-height: 400px;width: 100%">
                </div>
                <div class="item text-center">
                    <img src="__PUBLIC__/img/006.jpg" style="max-height: 400px;width: 100%">
                </div>
            </ul>
        </div>
    </div>

</div>

<div id="page2">
    <include file="Public/page/index_footer.html"/>
</div>
<script src="__PUBLIC__/pintuer/jquery.js"></script>
<script src="__PUBLIC__/pintuer/pintuer.js"></script>

</body>
</html>