{% extends "base.html" %}

{% block title %}数据分析|地质应用大赛{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 50px;margin-top: 50px">
        <div class="row">
            <div class="col-md-6"><div id="map" style="min-width:300px;height: 500px;">加载中...</div></div>
            <div class="col-md-6"><div id="zhifangtu" style="min-width:300px;height: 500px;">加载中...</div></div>
        </div>
    </div>

{% endblock %}



{% block script %}
    <script src="https://img.hcharts.cn/highmaps/highmaps.js"></script>
    <script src="https://data.jianshukeji.com/geochina/china.js"></script>
    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
    <script>
        // 随机数据

        $.get("/dataanalyse/loccounts", function(result){
            // 初始化图表
            var map = new Highcharts.Map('map', {
                title: {
                    text: '访问次数依省份地图展示'
                },
                colorAxis: {
                    min: 0,
                    minColor: 'rgb(255,255,255)',
                    maxColor: '#ee0000'
                },
                series: [{
                    data: result,
                    name: '访问次数',
                    mapData: Highcharts.maps['cn/china'],
                    joinBy: 'name' // 根据 name 属性进行关联
                }]
            });


            var xa=[]
            var ya=[]
            for(var i=0;i<result.length;i++){
               xa.push(result[i]['name']);
               ya.push(result[i]['value'])
            }
            console.info(xa)
            console.info(ya)
            var chart = Highcharts.chart('zhifangtu',{
                chart: {
                    type: 'column'
                },
                title: {
                    text: '访问次数依省份直方图'
                },
                xAxis: {
                    categories: xa,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '访问次数'
                    }
                },
                tooltip: {
                    // head + 每个 point + footer 拼接成完整的 table
                    headerFormat: '<span style="font-size:10px">{point.key}：</span>',
                    pointFormat: '<b>{point.y} </b>',
                    footerFormat: '',
                    shared: true,
                    useHTML: true
                },
                series: [{
                    name: '访问次数',
                    data: ya
                }]
            });



        });
    </script>
{% endblock %}