{% extends "base.html" %}

{% block title %}主页|地质应用大赛{% endblock %}

{% block content %}

    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h2>项目介绍</h2>
            <p>应用深度学习与机器学习的时间序列模型，以及结合传统机器学习序列预测用户流量（如每天的访问用户数量）、访问数据类型，从而有效处理网络堵塞、高并发等问题。</p>
            <p>另一方面，我们对用户日志进行数据分析，以帮助更好的发现关联特征，统计出经常使用的入口页面。管理者进而优化入口页面，从而获取更好的推广和挽留作用。根据用户搜索的关键词，形成标签云，从而提升用户体验和网站逼格。
                作品以网站的形式进行展示。
            </p>

            <p class="text-right" style="font-size: 16px;margin-right: 20px;text-decoration: underline"><a href="{{url_for('static',filename='doc.docx')}}">获取更多</a></p>
        </div>

    </div>
{% endblock %}

