<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="__PUBLIC__/pintuer/pintuer.css">
</head>

<body>
    <div id="page1">
        <include file="Public/page/index_header.html" />
    </div>

    <div class="container">
        <div class="panel">
            <div class="panel-head">
                <button class="button border-main" onclick="getHtml()">提交</button>
            </div>
            <div class="panel-body" style="padding: 0px">
                <textarea id="md_editor">
###Mditor是一个轻量级的markdown编辑器
![我的相片](__PUBLIC__/img/me.jpg)
                </textarea>
            </div>
        </div>
        <form method="post" class="hidden" action="{:U('Notes/upload_content')}"  id="form1">
            <input name="content" id="content" type="text" value="">
        </form>

    </div>

    <div id="page2">
        <include file="Public/page/index_footer.html" />
    </div>

    <script src="__PUBLIC__/pintuer/jquery.js"></script>
    <script src="__PUBLIC__/pintuer/pintuer.js"></script>
    <script type="text/javascript" src="__PUBLIC__/mditor/mditor.js"></script>
    <script type="text/javascript">
        //获取textarea dom对象
        var ele_textarea = document.getElementById('md_editor');
        //实例化Mditor
        var editor = new mditor(ele_textarea, {
            //自定义显示效果class
            previewClass: 'article'
        });

        function getHtml(){
            $('#content').val(editor.getHtml());
            $('#form1').submit();
        }
    </script>
</body>

</html>